<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="../js/ex.js" charset="utf-8">
		</script>
	</head>
	<body>
		<form action="">
			<div id="pos"></div>
			<br />
			<select name="country" id="the_country" onchange="fillState()">
				<option value="mexico">mexico </option>
				<option value="usa">usa </option>
			</select>
			<select name="state" id="the_state">
			 <input type="radio" name="r1" value="a" id="some_name">a:
			 <input type="radio" name="r1" value="b" id="some_name">b:
			<input type="checkbox" name="c" value="c" id="some_name">c:
			<input type="checkbox" name="c" value="d" id="some_name">d:
			</select> 
		</form>
	</body>
</html>